

@font-face {
  font-family: 'GESSTwoMedium-Medium';
  src: url('fonts/GESSTwoMedium-Medium.woff2') format('woff2'),
      url('fonts/GESSTwoMedium-Medium.woff') format('woff'),
      url('fonts/GESSTwoMedium-Medium.ttf') format('truetype'),
      url('fonts/GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
  font-style: normal;
  font-display: swap;
}



h1{

text-align: center;
margin: auto;
font-family:'GESSTwoMedium-Medium' ;
color: #8C5E1C;


}



.content {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  
}


    #canvas {
    
      width: 70%;
       margin: 70px  ;
     font-family:'GESSTwoMedium-Medium' ;
     
      
    }

    #nameInput {
        
   

      display: block;
      width: 300px;
      margin: auto;
      margin-bottom: 40px;
      text-align: right;
      font-size: 16px;
      padding: 5px;
      box-sizing: border-box;
           font-family:'GESSTwoMedium-Medium' ;
    }
    



.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

    #submitButton {
      
      display: block;
      text-align: center; 
      width: 300px;
      margin: auto;
      font-size: 16px;
      padding:5px ;
      background-color: #8C5E1C;
      color: #fff;
      border: none;
      cursor: pointer;
       font-family:'GESSTwoMedium-Medium' ;
    
    }

    #downloadButton {

      display: block;
      text-align: center; 
      width: 300px;
      margin: auto;
      font-size: 16px;
      padding:5px ;
      background-color: #8C5E1C;
      color: #fff;
      border: none;
      cursor: pointer;
       font-family:'GESSTwoMedium-Medium' ;
       text-decoration: none; 


    }
      
    

    
